# Python bytecode
__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Virtual environments
venv/
env/
vllm/
LLaMA-Factory/

# Logs and temporary files
*.log
*.bak
*.zip

# IDE/Editor files
.vscode/
draft/
data/


